# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env

# Playwright caches
**/ms-playwright/

# Virtualenv
.venv/
venv/

# Output artifacts
output/
*.log

# Secrets
amazon_credentials.pyc
config/credentials.json
